style 
body{
   background-color:rgb(255, 249, 249);
   font-size: large;
   
  }
  .linea{
     background-color: rgb(63, 199, 211);
     padding: 5px;
     padding-left: 5px;
  }
  .titulo{
     font-size: 50px;
     color: rgb(255, 255, 255);
     background-color: rgb(63, 199, 211);
     padding: 50px;
     padding-left: 500x;
     padding-left: 500px;
     
   }
   .tituloidi{
      font-size: 50px;
      color: rgb(255, 255, 255);
      background-color: rgb(63, 199, 211);
      padding: 50px;
      padding-left: 500x;
      padding-left: 800px;
      
    }
    .tituloest{
      font-size: 50px;
      color: rgb(255, 255, 255);
      background-color: rgb(63, 199, 211);
      padding: 50px;
      padding-left: 500x;
      padding-left: 800px;
      
    }
    .titulohab{
      font-size: 50px;
      color: rgb(255, 255, 255);
      background-color: rgb(63, 199, 211);
      padding: 50px;
      padding-left: 500x;
      padding-left: 800px;
      
    }
    .tituloexp{
      font-size: 50px;
      color: rgb(255, 255, 255);
      background-color: rgb(63, 199, 211);
      padding: 50px;
      padding-left: 500x;
      padding-left: 600px;
      
    }
   .imagen{
      margin: 55px;
      border-radius: 44px;
      text-align: center;
    
   }
   .texto{
      font-size: 25px;
      position: relative;
      left: 50px;
      bottom: 10px;
   }
   .entradas{
      padding:50px;
      position: relative;
      bottom: 20px;
      background-color: rgb(63, 199, 211);
      display: flex;
      font-size: 50px;
   }
   .datosperso{
      font-size: 25px;  
      position: relative;
      left: 500px;
      bottom: 700px;


   }
   .estu{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      position: relative;
      left: 60px;

   }
   .idio{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      position: relative;
      left: 350px;
   }
   .habi{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      position: relative;
      left: 200px;
   }
   .exp{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      position: relative;
      left:500px;
   }
   .menu{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    position: relative;
    left:800px;
 }
 .entradas2{
    padding:50px;
    position: relative;
    bottom: -250px;
    background-color: rgb(63, 199, 211);
    display: flex;
    font-size: 50px;
 }
   
